<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<a href="#/user/create" type="button" class="btn btn-success" style="margin: 20px;">new user</a>
			<a href="" ng-click="addtest()" type="button" class="btn btn-success" style="margin: 20px;">generate users</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Mail</th>
						<th width="200px">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users track by $index">
						<td>{{$index}}</td>
						<td>{{user.mail}}</td>
						<td>{{user.name}}</td>
						<td>
							<a  href="" ng-click="connect(user)" type="button" class="btn btn-info"  >
								<span class="glyphicon glyphicon-star-empty" ng-show="userconnected != user.key"></span>
								<span class="glyphicon glyphicon-star" ng-show="userconnected == user.key"></span>
							</a>
							<a  href="#/user/update/{{user.key}}" type="button" class="btn btn-warning"  ><span class="glyphicon glyphicon-pencil"></span></span></a>
							<a  href="" ng-click="remove(user)" type="button" class="btn btn-danger"  ><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>